---

############################
# Used in parts 1, 2 and 3 #
############################

# AWS Credentials
aws_access_key: "THISISMYAWSACCESSKEY"
aws_secret_key: "ThisIsMyAwSSecretKey"
aws_region:     "eu-west-1"

# VPC Information
vpc_name:       "My VPC"
vpc_cidr_block: "10.0.0.0/16"

# For Security Group Rule
my_ip:          "X.X.X.X"

# Subnets
public_subnet_1_cidr:  "10.0.1.0/24"

############################
# Used in parts 2 and 3    #
############################

# Subnets
private_subnet_1_cidr: "10.0.2.0/24"

############################
# Used in part 3 only      #
############################

# Subnets
public_subnet_2_cidr:  "10.0.11.0/24"
private_subnet_2_cidr: "10.0.12.0/24"
